/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/



.wrap {
  width: 960px;
}

.sidebar {
  padding-left: 2rem;
  display: block;
}

.widget{
  margin: 0 0 2em 0;

  &.widget_sp_image{
    max-width: 100%;
  }

}

.tribe-events-list-widget ol li{
  max-width: 100%;
}
